*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    padding: 4rem 0 0 0;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(49, 49, 65);
}

#line {
    width: 5rem;
    margin: 1rem;
    padding: 2px;
    background-color: rgb(52, 113, 211);
    border: none;
}

.filter-btns {
    min-width: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0 3rem 0;
}

.filter-btn {
    border-radius: 4px;
    min-width: 10rem;
    min-height: 2rem;
    border: 2px solid rgb(49, 49, 65);
    background-color: white;
    font-size: 1rem;
    margin: 0 1rem;
    color:rgb(49, 49, 65);
    box-shadow: 1px 2px 1px 1px rgb(75, 74, 74);
}

.filter-btn:hover {
    background-color: rgb(52, 113, 211);
    color:white;
    transition: all ease 0.4s;
    cursor: pointer;
    box-shadow: none;
    border:2px solid rgb(52, 113, 211);
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    max-width: 100vh;
    max-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 0px 1px 1px  rgb(149, 149, 149);
    border-radius: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(49, 49, 65);
}

img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px;
}

#name {
    margin-left: 2rem;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 2rem;
}

#location-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(98, 138, 200);
    margin: 1rem 2rem;
}
